<%= provide(:title, "About") %>
<div style="background-color: #e9ecef;padding-top: 1px; position:relative">
<br /><br />

<div class="container is-medium">
    <div class="columns">
    <div class="column is-8">
    <h1>Webboard - About</h1>
<p>
    A simple whiteboard for the web.<br />
    An intuitive writing software with note management facilities.
    All the notes are uploaded and stored in our servers. They can be accessed anytime from anywhere !
    It is a platform where people can share, access and the notes.<br />

    It has a simplistic interface which is easily understandable.
    The aim of the project is to facilitate the process of writing notes in classes.
    Professors, teachers and students are hugely benefited by this as it saves  a lot of time.
</p>
    </div>
    <div class="column is-4" style="text-align:center">
        <img src="/asset/webboard.png" width="120%" style="padding-top:5%" %>
    </div>
    </div>
</div>

<div style="max-width: 80%;margin: 3rem auto;padding:0.5rem;background-color:white">
    <h3 style="padding-left: 30px;">Developer Team</h3>
    <h4 style="padding-left: 30px;">Core Team</h4>
    <ul style="padding-left: 100px;">
        <li><a href="https://github.com/r-arvind">R Arvind</a></li>
        <li><a href="https://github.com/nithinr07">Nithin Raj</a></li>
        <li><a href="https://github.com/ronak66">Ronak Doshi</a></li>
        <li><a href="https://github.com/ThisWasntTaken">Ananth</a></li>
    </ul>
    <h4 style="padding-left: 30px;">Mentor</h4>
    <ul style="padding-left: 100px;">
        <li><a href="https://github.com/satu0king">Satvik Ramaprasad</a></li>
    </ul>
</div>
<br />
</div>
