<% if user_signed_in? and current_user == @course.user %>
<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
<% end %>
